<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.treeNode.pojo.mapper.TreeNodeMapper" >
  <resultMap id="BaseResultMap" type="com.treeNode.pojo._do.TreeNode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tree_name" property="treeName" jdbcType="VARCHAR" />
    <result column="node_name" property="nodeName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="active" property="active" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, tree_name, node_name, parent_id, active, create_time, update_time
    from tree_node
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.treeNode.pojo._do.TreeNode" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tree_node (id, tree_name, node_name, parent_id, active, create_time, update_time)
    values (#{id,jdbcType=INTEGER},
            #{treeName,jdbcType=VARCHAR},
            #{nodeName,jdbcType=VARCHAR},
            #{parentId,jdbcType=INTEGER},
            #{active,jdbcType=INTEGER},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.treeNode.pojo._do.TreeNode" >
    update tree_node
    set node_name = #{nodeName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>