<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.treeNode.pojo.mapper.UserTreeRelMapper" >
  <resultMap id="BaseResultMap" type="com.treeNode.pojo._do.UserTreeRel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="node_id" property="nodeId" jdbcType="INTEGER" />
    <result column="active" property="active" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="JoinResultMap" type="com.treeNode.pojo.request.UserRelNode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="node_id" property="nodeId" jdbcType="INTEGER" />
    <result column="tree_name" property="treeName" jdbcType="VARCHAR" />
    <result column="node_name" property="nodeName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, node_id, active, create_time, update_time
    from user_tree_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectUserRelNode" resultMap="JoinResultMap" parameterType="com.treeNode.pojo.request.UserRelNode" >
    select rel.id, rel.user_id, rel.node_id, t.tree_name, t.node_name, t.parent_id
    from user_tree_rel rel
    left join tree_node t on t.id = rel.node_id and t.active=1
    where
    <if test="userId != null">
      rel.user_id = #{userId,jdbcType=INTEGER} AND
    </if>
    <if test="treeName != null">
      t.tree_name = #{treeName,jdbcType=VARCHAR} AND
    </if>
    <if test="id != null">
      rel.id = #{id,jdbcType=INTEGER} AND
    </if>
    rel.active = 1
  </select>
  <insert id="insert" parameterType="com.treeNode.pojo._do.UserTreeRel" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_tree_rel (id, user_id, node_id, active, create_time, update_time)
    values (#{id,jdbcType=INTEGER},
            #{userId,jdbcType=INTEGER},
            #{nodeId,jdbcType=INTEGER},
            #{active,jdbcType=INTEGER},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.treeNode.pojo._do.UserTreeRel" >
    update user_tree_rel
    <trim prefix="SET" suffixOverrides=",">
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>